@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajout de styles globaux pour les liens */
html, body {
  overflow-x: hidden;
}

@layer base {
  a:not(.nav a) {
    @apply text-accent font-bold;
    transition: color 0.3s ease;
  }
  a:hover:not(#projects a):not(.nav a):not(#cards a) {
    @apply text-accent underline;
  }

  
  a:focus:not(#projects a:focus)
  a:focus:not(.nav a:focus) {
    @apply text-accent font-bold ;
  }
  

  code {
    @apply font-code font-normal tracking-tighter text-jour dark:text-nuit bg-zinc-700 dark:bg-zinc-50 md:text-xs leading-none inline-flex px-3 py-1;
  }

  p,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol {
    @apply md:text-balance md:max-w-prose;
  }

  ol>li {
    @apply list-decimal list-outside ml-8
  }

  #navBarNavMobile,#navBarNav{
    @apply uppercase font-medium text-sm;
  }

  /* LIGHTBOX */

  .lightbox {
    @apply hidden fixed top-0 left-0 w-full h-full justify-center items-center
  }
  .lightbox{
    background-color: rgba(0, 0, 0, .95); /* Fond noir transparent */
    z-index: 1000; /* Assurez-vous qu'elle soit au-dessus des autres éléments */
  }

  /* Lightbox active (class added via JavaScript when opened) */
  .lightbox.active {
    @apply flex
  }

  /* Image à afficher en grand */
  .lightbox img {
    @apply max-w-[90%] max-h-[90%] rounded-xl
  }
  .lightbox p{
    @apply absolute font-code text-jour px-5 py-1 border-zinc-500 border-l border-r left-[50%] translate-x-[-50%] md:text-xs bottom-4 text-center 
  }
  
  /* Bouton de fermeture */
  .lightbox .close {
    @apply absolute bg-white border-0 text-xl cursor-pointer p-0 w-8 h-8 rounded-full text-black top-7 right-5
  }
  .lightbox .close {
    line-height: 17px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Ombre du bouton */
    z-index: 1001; /* Assurez-vous qu'il soit au-dessus de tout */
    transition: background-color 0.3s ease;
  }

  .lightbox .close:hover {
    @apply bg-accent
  }
  
  /* GALLERIES */

  .thumbnail{
    @apply cursor-zoom-in
  }
  .navIsActive{
    @apply font-bold text-accent
  }
  .navIsActiveMobile{
    @apply font-bold text-accent
  }
  

  /* PROJECTS */

  #projects{
    @apply mt-8 md:mt-40 md:mx-auto container md:w-3/4 font-extralight leading-8 md:px-8 pt-3 rounded-3xl justify-center;
  }

  #projects #content{
    @apply mx-2 md:mx-auto;
  }
  #projects #content #intro{
    @apply md:mx-auto md:text-center;
  }
  #projects hr{
    @apply w-1/5 border-t-8 border-zinc-500 dark:border-zinc-500 mx-auto my-12 md:my-28
  }
  #projects ul{
    @apply my-3
  }
  #projects ul>li{
    @apply list-disc list-inside
  }
  #projects #projetResume {
    @apply list-none pl-0 ml-0
  }
  #projects #projetResume li{
    @apply list-none
  }

  
  #projects em {
    letter-spacing: -0.05em;
  }
  #projects h3,
  #projects h4,
  #projects h5{
    @apply my-12 capitalize;
  }
  #projects h6{
    @apply mt-6 mb-3 capitalize; 
  }
  #projects h3 {
    @apply text-4xl font-syne font-bold
  }
  #projects h4 {
    @apply text-3xl font-syne font-bold;
  }
  #projects h5 {
    @apply text-2xl;
  }
  #projects h6 {
    @apply text-xl; 
  }

  #projects em {
    @apply block mt-16;
  }
  #projects details h6{
    @apply text-lg mt-0
  }
  #projects a{
    @apply font-medium text-nuit dark:text-jour
  }
  #projects a:link {
    @apply  underline;
  }
  #projects a:hover {
    @apply  text-accent;
  } 
  #projetResume a{
    @apply text-nuit;
  }
}