---
import Layout from "../layouts/Layout.astro";
---

<Layout title="PizzaPunk" description="Pizza Punk Generative Design by Jerome Mercier" type="website">
  <div
    id="intro"
    class="w-full min-h-[70vh] flex flex-col gap-1 justify-center items-center text-[3vw] font-syne font-black text-jour text-center m-0"
  >
    <h1 class="z-50 drop-shadow-md font-code font-semibold" id="jerome">
      CODING
    </h1>
    <img
      id="ppunk"
      class="bg-blend-hard-lightscale-0 opacity-0 invert dark:invert-0 object-contain bg-white p-10 rounded-lg z-50 min-w-[70px] max-w-[300px] absolute "
      src="images/logo.svg"
      alt=""
    />
    <h2 class="z-50 drop-shadow-md text-jour"  id="mercier">GENERATIVE DESIGN</h2>
    <div id="scroll" class="scroll text-sm relative"><span class="block animate-bounce text-jour"><i class="fa-solid fa-circle-down text-4xl"></i></span></div>
    
  </div>
  <video
    id="background-video"
    class=""
    autoplay
    loop
    muted
    poster="https://formation.pizza-punk.com/html/videos/poster-video.png"
  >
    <source
      src="https://formation.pizza-punk.com/html/videos/hero.mp4"
      type="video/mp4"
    />
  </video>
  <div id="home" class="w-full ">
    <section
      id="home-page"
      class="md:mx-auto md:rounded-2xl md:w-2/3 bg-jour dark:bg-nuit text-nuit dark:text-jour px-5 pt-12"
    >
    <div class=" md:flex md:flex-row md:justify-between md:items-center">
      <div id="left" class="md:text-right">
        <h1 class="font-black text-3xl font-syne ">I'm Jérôme Mercier</h1>
        <h2>I'm crafting designs with code.</h2>
        <p
          class="mt-5 pb-4 md:pb-0 text-base md:text-sm font-code font-light text-balance tracking-tighter"
        >
          My projects, often expressed through mesmerizing animations, powered
          by code and algorithms, seek to visually interpret and question the
          fluid nature and existential implications of time.
        </p>

        <p class="pt-4 md:text-xs font-code font-thin">
          <i class="fa-solid fa-hand-holding-heart"></i>
          You can
          <a href="https://objkt.com/users/tz1QxDQFtjzn7q851vx1McZ6DnJZtbJ8eaxc"
            >explore and collect my work at objkt</a
          >
          and
          <a href="https://www.fxhash.xyz/u/Jerome%20(Pizza%20Punk)">fxHash</a>
          and feel free to
          <a href="https://x.com/GenerativePunk">connect with me on X</a> and
          <a href="https://www.instagram.com/jmpizzapunk/">Instagram</a>. 
        </p>

        

        <div class="py-4 my-8">
          <button
            id="AllEvents"
            class="bg-black text-jour px-3 py-2 hover:bg-accent text-base md:text-sm rounded-sm hover:animate-pulse"
            ><span class="">&#10097;</span> Updates</button
          >
          <button
            id="AllProjects"
            class="bg-black text-jour px-3 py-2 hover:bg-accent text-base md:text-sm rounded-sm hover:animate-pulse"
            >&#10097; Projects</button
          >
        </div>

      </div>
      <div class="">
        <a href="https://objkt.com/tokens/hicetnunc/588102" aria-labelledby="Objkt.com - A generated GIF loop by Pizza Punk (Jerome Mercier - twitter @GenerativePunk), France. "
          ><img
            id="lazyGif"
            src="images/lazy-GIF198-14.jpg"
            class="rounded-md invert w-full object-scale-down max-w-[640px] lg:max-w-[940px] dark:invert-0"
            alt="A generated GIF loop by Pizza Punk (Jerome Mercier - twitter @GenerativePunk), France."
          /></a
        >
      </div>
    </div>
    </section>
  </div>
</Layout>

<script is:inline>
  // Lazy Gif
  const lazyGif = document.getElementById("lazyGif");
  lazyGif.src =
    "images/GIF198-14-SPENBa-LX9-LY6-LZ11-colShap4-1050px-151fr-30fps-19818-4945.gif";

  document.getElementById("AllEvents").addEventListener("click", () => {
    window.open("/events/", "_self");
  });
  document.getElementById("AllProjects").addEventListener("click", () => {
    window.open("/projects/", "_self");
  });
  const scrollElement = document.getElementById('scroll');
  scrollElement.addEventListener('click',()=>{
    gsap.to(window,{duration:5.5,scrollTo:'#home',ease: "power4.out"})
  })

// Ajoute la classe au survol
scrollElement.addEventListener("mouseover", (e) => {
  scrollElement.classList.add('cursor-pointer'); // Ajoute la classe
});

// Retire la classe quand la souris quitte l'élément
scrollElement.addEventListener("mouseout", (e) => {
  scrollElement.classList.remove('cursor-pointer'); // Retire la classe
});

  let tl = gsap.timeline({
    defaults: { ease: "power3.out" },
    scrollTrigger: {
      // markers:true,
      trigger: "#ppunk",
      pin: "#intro",
      start: "60% 45%",
      end: "100% -100%",
      scrub: 0.3,
      snap: {
            snapTo: 'labels', // snap to the closest label in the timeline
            duration: { min: 0.2, max: 0.7 }, // the snap animation should be at least 0.2 seconds, but no more than 3 seconds (determined by velocity)
            delay: 0.2, // wait 0.2 seconds from the last scroll event before doing the snapping
            ease: 'bounce.out' // the ease of the snap animation ("power3" by default)
        }
    },
  });

  gsap.set("#ppunk", { scale: 0 });
  gsap.set("#jerome", { y: "+=25px" });
  gsap.set("#mercier", { y: "+=25px" });
  gsap.set(".scroll", { y: "+=20vh" });
  tl.addLabel("start")
    .to("#jerome", { y: "-=150px", x: 0, ease: "power3.out" })
    .to("#mercier", { y: "+=150px", x: 0, ease: "power3.out" }, "<")
    .to(".scroll", { y: "+=150px", x: 0, ease: "power3.out", scale:0 }, "<")
    .to("#ppunk", { scale: 1, opacity: 1, ease: "power3.out" }, "-=50%")
    .addLabel("fin");
</script>
<style>
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  @media (max-width: 750px) {
   #background-video {
      display: none;
   } 
   #intro {
      background: url("https://formation.pizza-punk.com/html/videos/poster-video.png") no-repeat;
      background-size: cover;
   }
}
</style>
