<div
id="footer"
class="bg-jour dark:bg-nuit z-20 mt-28 border-t border-1 border-gray-600 flex items-center p-5"
>
<i class="fa-solid fa-hand-holding-heart"></i>
<p class="m-5 font-code font-extralight text-xs">
  Thank you to my collectors for your support.<br />Explore and collect my
  NFTs (<a
    href="https://objkt.com/users/tz1QxDQFtjzn7q851vx1McZ6DnJZtbJ8eaxc"
    >Objkt</a
  >,
  <a href="https://www.fxhash.xyz/u/Jerome%20(Pizza%20Punk)">Fxhash</a>)
  to be part of the journey!<br />
  Bye bye...
</p>
</div>