<div class="lightbox" id="lightbox">
    <button class="close hover:animate-ping" id="lightbox-close-btn">&times;</button>
    <img id="lightbox-img" src="" alt="" title="" />
    <p id="lightbox-alt"></p>
  </div>
  
  <script src="/scripts/lightbox.js" defer></script>