---
interface Props {
  link: string;
}
const {link} = Astro.props;
---
<div class="text-right w-full flex justify-end -my-5">
  <p class=" text-right border-1 bg-zinc-100 dark:bg-zinc-800 w-14 leading-3 p-2 text-xs font-code font-extralight">
    <a href={link}  target="_blank"
      ><i class="fa-solid fa-code"></i> Code source</a
    >
  </p>
</div>
